/* Cleared default Vite styles restricting width */

.loader {
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: transparent;
  width: 1rem;
  height: 1rem;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
